.default-color0.chart-pie { -fx-pie-color: #16cabd; }
.default-color1.chart-pie { -fx-pie-color: #16cabd; }
.text-input
{
    -fx-text-fill : #2f2e2e;
    -fx-prompt-text-fill: #2f2d2f;
}

.button1
{
-fx-background-color : #16cabd;
-fx-background-radius :  30 30 30 30;
}
.button1:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  30 0 0 30;
}
.button1:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  30 0 0 30;
}

.button2
{
-fx-background-color: linear-gradient(to top right , #22c1c3 , #626970 );

}
.button2:hover
{
-fx-background-color: linear-gradient(to bottom left , #22c1c3 , #626970  );

}
.button2:pressed
{

-fx-background-color: linear-gradient(to bottom left , #22c1c3 , #ffffff );

}

.button3
{
-fx-background-color: linear-gradient(to bottom left , #5d34f1, #ffffff );

    -fx-border-insets: -5;    
    
}
.button3:hover
{
-fx-background-color: linear-gradient(to bottom left , #5d34f1 , #ffffff );
    -fx-border-style: solid;
    -fx-border-insets: -5;
    -fx-border-color: linear-gradient(to top left, #F6B46F,#35ACF1);
}
.button3:pressed
{
-fx-background-color: linear-gradient(to bottom left , #5d34f1 , #ffffff );
    -fx-border-style: solid;
   
    -fx-border-insets: -5;
    -fx-border-color: linear-gradient(to top left, #35ACF1, #F6B46F);
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #16cabd, #ffffff);
    -fx-background-radius :  30 30 30 30;
    -fx-text-alignment: center;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #16cabd, #000000);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #16cabd, #ffffff);
    -fx-background-radius :  30 30 30 30;
}


.combo-box
{
    -fx-background-color : transparent;
    -fx-border-color: #030303;
    -fx-border-radius: 30;
}
.combo-box:hover
{
    -fx-background-color : transparent;
    -fx-border-color: #030303;
    -fx-border-radius: 30;
}
.combo-box:pressed
{
    -fx-background-color : transparent;
    -fx-border-color: #030303;
    -fx-border-radius: 30;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #16cabd;
    -fx-alignment: CENTER_LEFT;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-pie-color: #16cabd;
    -fx-border-color: derive(#16cabd, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left , #7322c3, #ffffff );

    
}
.head-background
{
    -fx-background-color: linear-gradient(to top right , #6022c3, #ffffff );
}

.button6
{
-fx-background-color : transparent;
}
.button6:hover
{
-fx-background-color : #adf7f7 ;
}
.button6:pressed
{
-fx-background-color : #adf7f7; 
}
.titled-pane 
{
-fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused 
{
-fx-text-fill: white;
}
.titled-pane > .title 
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
-fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color:
-fx-box-border,
linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: #16cabd;
}